# Dependencias
node_modules/

# Build/output
build/
dist/

# Entornos y configuración sensible
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Cobertura de tests
coverage/

# Archivos de lock (opcional, si quieres usar otro gestor)
# package-lock.json
# yarn.lock
